@use "sass:math";
@use 'colors' as *;

@function sizeToRem($pixels) {
    @return #{math.div($pixels, 16)}rem;
}

@function widthVw($pixels) {
    @return #{math.div($pixels, 1920) * 100}vw;
}

@function heightVh($pixels) {
    @return #{math.div($pixels, 1080) * 100}vh;
}

@function procWidth($realWidth, $initialWidth: 360) {
    @return math.percentage(math.div($realWidth, $initialWidth));
}

@function procHeight($realHeight, $initialHeight) {
    @return math.percentage(math.div($realHeight, $initialHeight));
}

#burger-list {
    display: none;
}

#burger-btn {
    display: none;
}

#burger-toggle {
    display: none;
} //for header

.nav__button {
    color: #fff;
    font: bold sizeToRem(20)/1 'PT Sans';
    border: 2px solid #fff;
    padding: 10px 32px;
    border-radius: 10px;
} //from menu

%dark-layout {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.book-now {
    width: 420px;
    height: heightVh(80);
    border: 1px solid $orange;
    border-radius: 10px;
    background: $orange;
    font: sizeToRem(27)/1 'PT Sans';
    color: #fff;
    font-weight: bold;
    padding: heightVh(22) widthVw(70);
    display: flex;
    align-items: center;
    justify-content: center;
} //orange button

.clicked {
    color: #9E9E9E;
}