@charset "UTF-8";
.reviews::before, .intro::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.book-now {
  width: 21.875vw;
  height: 7.4074074074vh;
  border: 1px solid #e76020;
  border-radius: 10px;
  background: #e76020;
  font: 1.6875rem/1 "PT Sans";
  color: #fff;
  font-weight: bold;
  padding: 2.037037037vh 3.6458333333vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicked {
  color: #9E9E9E;
}

#burger-list {
  display: none;
}

#burger-btn {
  display: none;
}

#burger-toggle {
  display: none;
}

.intro {
  color: #fff;
  height: 100%;
  width: 100%;
  background: url(../assets/images/home-bgr.png) no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.intro::before {
  height: calc(100vh - 4.2592592593vh);
  width: 100%;
}
.intro > * {
  position: relative;
  z-index: 2;
}
.intro__header {
  width: 100%;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 3;
}
.intro__header-wrapper {
  height: 10.2777777778vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.intro__header-left {
  font: bold 2.5rem/1 "Bona Nova";
  letter-spacing: 2.4px;
}
.intro__header-right {
  font: bold 1.25rem/1 "PT Sans";
  display: flex;
  justify-content: space-between;
}
.intro ul {
  display: flex;
  gap: 4.1145833333vw;
  position: relative;
  z-index: 3;
}
.intro ul li {
  cursor: pointer;
}
.intro main {
  height: 100%;
}
.intro__middle-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 10.2777777778vh;
}
.intro__middle-part h1 {
  font: 6rem/1 "Bona Nova";
  margin-bottom: 3.2407407407vh;
  text-align: center;
}
.intro__sale-btn {
  display: none;
}

.gallery__image {
  width: 49.4791666667vw;
  height: 60.462962963vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__right-part {
  width: 50.5208333333vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.gallery__wrapper-right-part {
  width: 26.3020833333vw;
  height: 38.4361111111vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}
.gallery__wrapper-right-part h2 {
  font: bold 2rem/1 "Bona Nova";
  margin-bottom: 2.7777777778vh;
}
.gallery__wrapper-right-part p {
  font: 1.125rem/1.2 "PT Sans";
  margin-bottom: 1.3888888889vh;
}
.gallery__wrapper-arrows {
  display: flex;
  gap: 52px;
  margin-top: 5.3703703704vh;
  min-width: 0;
}
.gallery .swiper-button-prev {
  position: initial;
  color: #1E1E1E;
}
.gallery .swiper-button-next {
  position: initial;
  color: #1E1E1E;
}

.image-slider__slide {
  display: flex;
}

.reviews {
  background: url(../assets/images/black-bgr.jpg) no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 60.1851851852vh;
  font-family: "PT Sans";
  line-height: 1;
  color: #000;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.reviews > * {
  position: relative;
  z-index: 2;
  /* поднимаем контент выше подложки */
}
.reviews h2 {
  font: bold 2rem/1 "Bona Nova";
  color: #fff;
  padding-top: 8.6111111111vh;
  padding-bottom: 3.2407407407vh;
  margin-left: 13.4375vw;
}
.reviews__wrapper {
  height: 60.1851851852vh;
  display: flex;
  min-width: 0;
  gap: 35px;
  margin-left: 13.4375vw;
}
.reviews__second-review {
  margin-right: 14.4270833333vw !important;
}
.reviews__third-review {
  margin-left: 10.9375vw !important;
}
.reviews__block {
  display: flex;
  justify-content: center;
  gap: 1.8229166667vw;
}
.reviews__review {
  width: 35.15625vw !important;
  height: 29.537037037vh;
  background: #fff;
  display: flex;
  gap: 1.5625vw;
  min-width: 0;
}
.reviews__author-and-stars {
  display: flex;
  min-width: 0;
  padding-top: 4.4444444444vh;
  justify-content: space-between;
}
.reviews__avatar {
  width: 5.4166666667vw;
  height: 9.6296296296vh;
  margin-left: 1.40625vw;
  margin-top: 2.8703703704vh;
}
.reviews__star {
  margin: -3px;
}
.reviews__author {
  font-weight: bold;
  font-size: 1.5rem;
}
.reviews__text {
  line-height: 1.2;
  margin-top: 3.0555555556vh;
  font-size: 1.125rem;
  width: 23.90625vw;
}
.reviews__arrow-left, .reviews__arrow-right {
  color: transparent;
  position: absolute;
  top: 70% !important;
  width: 4.7395833333vw;
  height: 15vh;
}
.reviews__arrow-left {
  left: 10px;
}
.reviews__arrow-right {
  right: 10px;
}

.info {
  height: 64.9074074074vh;
  width: 100%;
  display: flex;
}
.info__left-part {
  width: 49.4791666667vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__right-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: start;
  margin-left: 9.4791666667vw;
  gap: 4.6296296296vh;
  font: 1.375rem/1.24 "PT Sans";
}
.info address {
  font-style: normal;
  text-align: left;
  width: 24.1666666667vw;
  height: 22vh;
}
.info address strong {
  display: block;
}
.info address p {
  display: block;
  margin-top: 30px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 19.6296296296vh;
  background: #121212;
  color: #fff;
  background-color: #121212;
  flex-wrap: wrap;
}
.footer__name {
  font: bold 1.625rem/1 "Bona Nova";
  margin-left: 16.8229166667vw;
  letter-spacing: 1.04px;
}
.footer__icons {
  font: 1.625rem/1 "PT Sans";
  text-align: right;
  margin-right: 9.0625vw;
}
.footer__icons p {
  font-weight: bold;
}
.footer__icons :last-child {
  margin-top: 1.3888888889vh;
}

.footer > * {
  margin-top: 4.6296296296vh;
}

@media (max-width: 750px) {
  #burger-btn {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    background-size: contain;
    cursor: pointer;
  }
  #burger-btn::after, #burger-btn::before, #burger-btn span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.3s;
  }
  #burger-btn::before {
    content: "";
    top: 0;
  }
  #burger-btn::after {
    content: "";
    bottom: 0;
  }
  #burger-btn span {
    top: 11px;
  }
  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }
  #burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 12px;
  }
  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 12px;
  }
  #burger-toggle:checked ~ #burger-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000;
  }
  #burger-toggle:checked ~ #burger-list > * {
    margin-left: 5vw;
    margin-top: 2.7777777778vh;
  }
  #burger-toggle:checked ~ #burger-list :first-child {
    margin-top: 6.5740740741vh;
  }
  .intro {
    background: url(../assets/images/for_mobile.svg) no-repeat;
    background-size: cover;
  }
  .intro::before {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .intro__header-wrapper {
    background-color: #000;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .intro__header-left {
    margin-left: 7.8125vw;
    font: bold 1.5rem/1 "Bona Nova";
    letter-spacing: 0.06em;
  }
  .intro__header-right {
    margin-right: 7.8125vw;
  }
  .intro ul {
    display: none;
  }
  .intro__middle-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .intro__middle-part h1 {
    font: bold 3.5rem/1.25 "Bona Nova";
    margin-top: 20vh;
    text-align: left;
    margin-left: 7vw;
  }
  .intro__middle-part button {
    align-self: center;
    width: 84.7222222222%;
    height: 9vh;
  }
  .intro__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10vh;
  }
  .intro__sale-btn {
    height: 9.0909090909%;
    align-self: center;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #fff;
    border-radius: 10px;
    font: bold 1.6875rem/1 "PT Sans";
    padding: 2.037037037vh 3.6458333333vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery__image {
    width: 100%;
    height: auto;
  }
  .gallery__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery__right-part {
    width: 90%;
    height: 46.2962962963vh;
  }
  .gallery__wrapper-right-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
  .reviews {
    height: 100%;
  }
  .reviews__wrapper {
    height: 60.1851851852vh;
    display: flex;
    margin: 0;
    min-width: 0;
    gap: 35px;
  }
  .reviews__third-review {
    margin-left: 10.9375vw !important;
  }
  .reviews__block {
    display: flex;
    justify-content: center;
    gap: 1.8229166667vw;
  }
  .reviews__review {
    width: 90% !important;
    height: 70%;
    background: #fff;
    display: flex;
    gap: 1.5625vw;
    min-width: 0;
  }
  .reviews__author-and-stars {
    display: flex;
    min-width: 0;
    padding-top: 4.4444444444vh;
    justify-content: space-between;
  }
  .reviews__avatar {
    width: 5.4166666667vw;
    height: 9.6296296296vh;
    margin-left: 1.40625vw;
    margin-top: 2.8703703704vh;
  }
  .reviews__star {
    margin: -3px;
  }
  .reviews__author {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .reviews__text {
    line-height: 1.2;
    margin-top: 3.0555555556vh;
    font-size: 1.125rem;
    width: 23.90625vw;
  }
  .reviews__arrow-left, .reviews__arrow-right {
    color: transparent;
    position: absolute;
    top: 70% !important;
    width: 4.7395833333vw;
    height: 15vh;
  }
  .reviews__arrow-left {
    left: 10px;
  }
  .reviews__arrow-right {
    right: 10px;
  }
}/*# sourceMappingURL=home.css.map */