@import 'colors';
@import 'common';

#burger-list {
    display: none;
}

#burger-btn {
    display: none;
}

#burger-toggle {
    display: none;
}

.intro {
    color: #fff;
    height: 100%;
    width: 100%;
    background: url(../assets/images/home-bgr.png) no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        @extend %dark-layout;
        height: calc(100vh - heightVh(46));
        width: 100%;
    }

    >* {
        position: relative;
        z-index: 2;
    }

    &__header {
        width: 100%;
        line-height: 1;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 3;
    }

    &__header-wrapper {
        height: heightVh(111);
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    &__header-left {
        font: bold sizeToRem(40)/1 'Bona Nova';
        letter-spacing: 2.4px;
    }

    &__header-right {
        font: bold sizeToRem(20)/1 'PT Sans';
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        gap: widthVw(79);
        position: relative;
        z-index: 3;

        li {
            cursor: pointer;
        }
    }

    main {
        height: 100%;
    }

    &__middle-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        h1 {
            font: sizeToRem(96)/1 'Bona Nova';
            margin-bottom: heightVh(35);
            text-align: center;
        }
    }
}

.gallery {
    &__image {
        width: widthVw(950);
        height: heightVh(653);
    }

    &__right-part {
        width: widthVw(970);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 0;
    }

    &__wrapper-right-part {
        width: widthVw(505);
        height: heightVh(415.11);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;

        h2 {
            font: bold sizeToRem(32)/1 'Bona Nova';
            margin-bottom: heightVh(30);
        }

        p {
            font: sizeToRem(18)/1.2 'PT Sans';
            margin-bottom: heightVh(15);
        }
    }

    &__wrapper-arrows {
        display: flex;
        gap: 52px;
        margin-top: heightVh(58);
        min-width: 0;
    }

    .swiper-button-prev {
        position: initial;
        color: #1E1E1E;

    }

    .swiper-button-next {
        position: initial;
        color: #1E1E1E;
    }
}

.image-slider {
    &__slide {
        display: flex;
    }
}

.reviews {
    background: url(../assets/images/black-bgr.jpg) no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    height: heightVh(650);
    font-family: 'PT Sans';
    line-height: 1;
    color: #000;
    display: flex;
    flex-direction: column;
    min-width: 0;

    &::before {
        @extend %dark-layout;
    }

    >* {
        position: relative;
        z-index: 2;
        /* поднимаем контент выше подложки */
    }

    h2 {
        font: bold sizeToRem(32)/1 'Bona Nova';
        color: #fff;
        padding-top: heightVh(93);
        padding-bottom: heightVh(35);
        margin-left: widthVw(258);
    }

    &__wrapper {
        // width: 100%;
        height: heightVh(650);
    }

    &__block {
        display: flex;
        justify-content: center;
        gap: widthVw(35);
    }

    &__review {
        width: widthVw(675) !important;
        height: heightVh(319);
        background: #fff;
        display: flex;
        gap: widthVw(30);
        min-width: 0;
    }

    &__author-and-stars {
        display: flex;
        min-width: 0;
        padding-top: heightVh(48);
        justify-content: space-between;
    }

    &__avatar {
        width: widthVw(104);
        height: heightVh(104);
        margin-left: widthVw(27);
        margin-top: heightVh(31);
    }

    &__star {
        margin: -3px;
    }

    &__author {
        font-weight: bold;
        font-size: sizeToRem(24);
    }

    &__text {
        line-height: 1.2;
        margin-top: heightVh(33);
        font-size: sizeToRem(18);
        width: widthVw(459);
    }

    &__arrow-left,
    &__arrow-right {
        color: transparent;
        position: absolute;
        top: 70% !important;
        width: widthVw(91);
        height: heightVh(162);
    }

    &__arrow-left {
        left: 10px;
    }

    &__arrow-right {
        right: 10px;
    }
}

.info {
    height: heightVh(701);
    width: 100%;
    display: flex;

    &__left-part {
        width: widthVw(950);
        object-fit: cover;
    }

    &__right-part {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: start;
        margin-left: widthVw(182);
        gap: heightVh(50);
        font: sizeToRem(22)/1.24 'PT Sans';
    }

    address {
        font-style: normal;
        text-align: left;
        width: widthVw(464);
        height: 22vh;

        strong {
            display: block;
        }

        p {
            display: block;
            margin-top: 30px;
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: heightVh(212);
    background: $footer-color;
    color: #fff;
    background-color: $footer-color;
    flex-wrap: wrap;

    &__name {
        font: bold sizeToRem(26)/1 'Bona Nova';
        margin-left: widthVw(323);
        letter-spacing: 1.04px;
    }

    &__icons {
        font: sizeToRem(26)/1 'PT Sans';
        text-align: right;
        margin-right: widthVw(174);

        p {
            font-weight: bold;
        }
    }

    &__icons :last-child {
        margin-top: heightVh(15);
    }

}

.footer>* {
    margin-top: heightVh(50);
}

@media (max-width: 700px) {
    #burger-btn {
        display: block;
        position: relative;
        width: 30px;
        height: 25px;
        background-size: contain;
        cursor: pointer;

        &::after,
        &::before,
        & span {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
            transition: .3s;
        }

        &::before {
            content: '';
            top: 0;
        }

        &::after {
            content: '';
            bottom: 0;
        }

        & span {
            top: 11px;
        }
    }

    #burger-toggle:checked ~ label::after {
        transform: rotate(45deg);
        bottom: 10px;
    }

    #burger-toggle:checked ~ #burger-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        gap: 3vh;
        width: 50vw;
        height: 100vh;
        background-color: #000;
    }

    #burger-toggle:checked ~ #burger-list > * {
        margin-left: 5vw;
    }

    #burger-toggle:checked ~ label::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ label span {
        transform: rotate(-45deg);
        top: 12px;
    }

    // #burger-list {
    //     display: flex;
    //     flex-direction: column;
    //     background-color: #000;
    //     text-align: center;
    // }

    .intro {
        background: url(../assets/images/black-bgr.jpg) no-repeat;

        &::before {
            height: 100%;
        }

        &__header-wrapper {
            background-color: #000;
            height: heightVh(65);
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }

        &__header-left {
            margin-left: widthVw(150);
            font: bold sizeToRem(16)/1 'Bona Nova';
            letter-spacing: 0.06em;
        }

        &__header-right {
            margin-right: widthVw(150);
        }

        ul {
            display: none
        }   

        &__middle-part {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            h1 {
                font: sizeToRem(96)/1 'Bona Nova';
                margin-bottom: heightVh(35);
                text-align: center;
            }
        }
    }}