@use 'colors' as *;
@use 'common' as *;

.intro {
    color: #fff;
    // height: 100%;
    width: 100%;
    background: url(../assets/images/home-bgr.png) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &::before {
        @extend %dark-layout;
        height: calc(100vh - heightVh(46));
        width: 100%;
    }

    >* {
        position: relative;
        z-index: 2;
    }

    &__header {
        width: 100%;
        line-height: 1;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 3;
    }

    &__header-wrapper {
        height: heightVh(111);
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    &__header-left {
        font: bold sizeToRem(40)/1 'Bona Nova';
        letter-spacing: 2.4px;
    }

    &__header-right {
        font: bold sizeToRem(20)/1 'PT Sans';
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        gap: widthVw(79);
        position: relative;
        z-index: 3;

        li {
            cursor: pointer;
        }
    }
}

main {
    padding-top: heightVh(111);
    background: url(../assets/images/black-bgr.jpg) no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        @extend %dark-layout;
        width: 100%;
    }

    >* {
        position: relative;
        z-index: 2;
    }
}

.nav {
    height: heightVh(250);
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        gap: widthVw(20);
        font: sizeToRem(20)/1 'PT Sans';
        margin-left: widthVw(323);
    }

    li {
        cursor: pointer;
    }

    &__reservation {
        text-align: left;
        border: 1px solid $orange;
        border-radius: 10px 0 0 10px;
        color: #fff;
        background-color: $orange;
        height: heightVh(93);
        width: widthVw(299);
        padding: 15px 88px 16px 33px;
        font: bold sizeToRem(24)/1 'PT Sans';
        display: flex;
        align-items: center;
    }
}

.menu {
    width: widthVw(590*2+93);
    margin: 0 auto;
    padding-bottom: heightVh(258);

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, widthVw(590));
        // grid-template-rows: repeat(auto-fill, heightVh(700));
        row-gap: heightVh(150);
        column-gap: widthVw(93);
        justify-content: center;
        justify-items: center;
    }

    // &__card {
    //     // width: widthVw(590);
    //     // height: auto;
    // }

    &__bottom {
        display: flex;
        flex-direction: column;
        background: #fff;
        font-family: 'PT Sans';
        font-weight: bold;
        height: 24vh;
        justify-content: space-between;

        &-text {
            font-weight: bold;
            color: #000;
            display: flex;
            justify-content: space-between;
            margin-top: heightVh(26);
            gap: 10px;
        }

        &-name {
            margin-left: widthVw(48.93);
            font-size: sizeToRem(24);
        }

        &-price {
            margin-right: widthVw(45);
            font-size: sizeToRem(28);
        }

        &-button {
            width: widthVw(554.24);
            height: heightVh(80);
            border: 1px solid $orange;
            background-color: $orange;
            border-radius: 10px;
            font: bold 1em 'PT Sans';
            font-size: sizeToRem(27.7);
            color: #fff;
            align-self: center;
            margin-bottom: heightVh(28);
        }
    }

    &__image {
        width: 100%;
        height: 50%;
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: heightVh(212);
    background: $footer-color;
    color: #fff;
    background-color: $footer-color;
    flex-wrap: wrap;

    &__name {
        font: bold sizeToRem(26)/1 'Bona Nova';
        margin-left: widthVw(323);
        letter-spacing: 1.04px;
    }

    &__icons {
        font: sizeToRem(26)/1 'PT Sans';
        text-align: right;
        margin-right: widthVw(174);

        p {
            font-weight: bold;
        }
    }

    &__icons :last-child {
        margin-top: heightVh(15);
    }

}

.footer>* {
    margin-top: heightVh(50);
}

@media (max-width: 1630px) {
    .menu {

        // &__card {
        //     width: 35vw;
        // }
        &__wrapper {
            grid-template-columns: repeat(2, 35vw);
        }

        &__bottom {
            height: 26vh;
        }
    }
}

@media (max-width: 1450px) {
    .nav {
        &__reservation{
            width: 20vw;
        }
    }
}

@media (max-width: 1090px) {
    .nav {
        & ul {
            margin-left: 3vw;
        }
    }

    .menu {
        &__wrapper {
            grid-template-columns: repeat(2, 42vw);
        }

        &__bottom {
            height: 28vh;

            &-button {
                width: 85%;
            }
        }
    }

    .nav {
        height: auto;
        & ul {
            margin: 7vh 0 5vh 3vw;
            flex-direction: column;
        }

        & ul > * {
            align-self: start;
        }

        &__reservation {
            width: 30vw;
        }
    }
}

@media (max-width: 775px) {
    #burger-btn {
        display: block;
        position: relative;
        width: 30px;
        height: 25px;
        background-size: contain;
        cursor: pointer;

        &::after,
        &::before,
        & span {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
            transition: .3s;
        }

        &::before {
            content: '';
            top: 0;
        }

        &::after {
            content: '';
            bottom: 0;
        }

        & span {
            top: 11px;
        }
    }

    #burger-toggle:checked~label::after {
        transform: rotate(45deg);
        bottom: 10px;
    }

    #burger-toggle:checked~label::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked~label span {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked~#burger-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: #000;
    }

    #burger-toggle:checked~#burger-list>* {
        margin-left: 5vw;
        margin-top: heightVh(30);
    }

    #burger-toggle:checked~#burger-list :first-child {
        margin-top: heightVh(71);
    }

    .intro {
        background: url(../assets/images/for_mobile.svg) no-repeat;
        background-size: cover;

        &::before {
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }

        &__header-wrapper {
            background-color: #000;
            height: 11vh;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }

        &__header-left {
            margin-left: widthVw(150);
            font: bold 1.5rem/1 'Bona Nova';
            letter-spacing: 0.06em;
        }

        &__header-right {
            margin-right: widthVw(150);
        }

        & ul {
            display: none
        }
    }

    .nav {
        &__reservation {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            padding: 0;
            margin-right: 2vw;
            font-size: 1rem;
            text-align: center;
        }
    }

    .menu {
        &__wrapper {
            grid-template-columns: repeat(1, 80vw);
            row-gap: 7vh;
        }
    }

    .footer {
        height: 25vh;
        flex-direction: column;

        &__icons {
            text-align: left;
            margin: 4.6vw;
        }

        &__name {
            margin-left: 4.6vw;
        }
    }
}

@media (max-width: 390px) {
    .nav {
        &__reservation {
            display: none;
        }
    }
}